@import './ErrorBoundary.scss';
@import './Header.scss';
@import './Search.scss';
@import './Results.scss';
@import './Card.scss';
@import './Loader.scss';
@import './CharacterDetails.scss';

.app {
  background-color: hsl(83, 85%, 5%);
  position: relative;
}

.app-content {
  transition: transform 0.3s ease;
}

.app-content.details-open {
  transform: translateX(-100px);
}

@media (max-width: 768px) {
  .app-content.details-open {
    transform: none;
  }
}
